server:
  port: 6615
  servlet:
    context-path: /health_care_application

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/health_care_application?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 123456
  servlet:
    multipart:
      max-request-size: 1GB
      max-file-size: 1GB
  jpa:
    #    cấu hình loại database
    database: mysql
    hibernate:
      #      cấu hình tự động tạo database theo cấu hình code
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
    #    cấu hình chạy chương trình sẽ show câu lệnh SQL
    show-sql: true
    #    cấu hình chạy chương trình sẽ hiển thị câu lệnh SQL có format
    open-in-view: false
    properties:
      hibernate.format_sql: false
  jackson:
    time-zone: GMT+07
  mail:
    host: smtp.gmail.com
    port: 587
    username: leducanh1107.work@gmail.com
    password: hjeusjgsutkqnomn
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

miniio:
  url: "http://127.0.0.1:9000"
  access-key: "miniohrm"
  secret-key: "miniohrm"
  storage-bucket: "media"

media:
  domain: http://localhost:6615/hrm/api/v0/media